/*
 * @Author: lh
 * @Date: 2022/3/4 2:05 PM
 * @Last Modified by: lh
 * @Last Modified time: 2022/3/4 2:05 PM
 */
.ln-content .ln-panel-title {
    height: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
    color: #aaa;
    background: #fff;
    border: solid 1px #eee;
    font-size: 14px;
    font-weight: normal;
}

.ln-content .ln-panel-body {
    position: relative;
    margin-bottom: .6rem;
    padding: .6rem 1rem;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/* 可手动设置内容区是否有内边距 */
.ln-content .ln-panel-body.no-padding{
    padding: 0;
}
